Source: libpng
Section: gui
Priority: optional
Maintainer: Alexander Kerner <lunohod@openinkpot.org>
Build-Depends: debhelper (>= 5), zlib1g-dev | libz1-dev, mawk, libtool, automake, autoconf, quilt
XCS-Cross-Host-Build-Depends: debhelper (>= 5), libtool, automake, autoconf, mawk, quilt
XCS-Cross-Build-Depends: libz1-dev
Standards-Version: 3.8.0
Format: 3.0 (native)
Homepage: http://www.libpng.org/pub/png/libpng.html

Package: libpng12-0
Section: gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PNG library - runtime
 libpng is a library implementing an interface for reading and writing
 PNG (Portable Network Graphics) format files.
 .
 This package contains the runtime library files needed to run software
 using libpng.

Package: libpng12-dev
Section: libdevel
Architecture: any
Depends: libpng12-0 (= ${binary:Version}), libz1-dev
Description: PNG library - development
 libpng is a library implementing an interface for reading and writing
 PNG (Portable Network Graphics) format files.
 .
 This package contains the header and development files needed to build
 programs and packages using libpng.
